<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
<div id="app">
    <p>
        <input v-model="message" placeholder="">
        + 
        <input v-model="message2" placeholder="">
         = {{resultNum}}
    </p>
    <p v-if = "rem === 0">偶数</p>
    <p v-if = "rem === 1">奇数</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="./script.js"></script>
</body>
</html>